.MMM-Futar table {
  width: auto !important;
}

.MMM-Futar table.align-right {
  float: right;
}

.MMM-Futar .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.MMM-Futar .symbol {
  margin-right: 10px;
}

.MMM-Futar .symbol-mini {
  margin-right: 5px;
}

.MMM-Futar .route-name {
  padding-right: 10px;
}

.MMM-Futar .relative-time {
  text-align: right;
  white-space: nowrap;
}

.MMM-Futar .absolute-time {
  padding-left: 10px;
  white-space: nowrap;
}

.MMM-Futar .alert-symbol {
  margin-left: 20px;
}

.MMM-Futar .alert-header {
  padding-left: 10px;
  white-space: nowrap;
}
